body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a7bcb4;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    background-color: rgb(232, 224, 235);
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

